*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}


#main{
    overflow: hidden;
}

@font-face {
    font-family: 'iCiel Pony';
    src: url('../font/iCielPony.eot');
    src: url('../font/iCielPony.eot?#iefix') format('embedded-opentype'),
        url('../font/iCielPony.woff2') format('woff2'),
        url('../font/iCielPony.woff') format('woff'),
        url('../font/iCielPony.ttf') format('truetype'),
        url('../font/iCielPony.svg#iCielPony') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* HEADER */
.Header{
    background-color: #d91d90;
    height:58px;
}

.header_address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.Hotline_and_email{
    display: flex;
    column-gap: 39px;
    align-items: center;
    margin-left: 170px;
}
.header_hotline,
.header_email{
    display: flex;
    column-gap: 8px;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.form_search{
    position: relative;
}
.input_search{
    border-radius: 30px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    opacity: 0.6;
}

.input_search::-webkit-input-placeholder{
    color: #6666;
}
.Btn_search {
    position: absolute;
    top: 4px;
    right: 9px;
    font-size: 15px;
    color: #fff;
}

.Btn_img{
    position: absolute;
    right: 0;
    top: -1px;
}

/* HEADER NAVIGATION */
.Header_nav_background{
    background-image: url("../img/Layer 128.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -25px;
    position: relative;
}

.Header_nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 0;
    padding-left: 38px;
}

.Header_nav_link:hover{
    color: #ff92d5;
}


.Logos_school{
    width: 97px;
    height: 99px;
}

.Header_nav_detail{
    display: inline-block;
    padding-right: 43px;
}
.Header_nav_link{
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color:#d91d90;
    font-weight: 900;
    font-family: 'iCiel Pony';
    
}

/* PICTURE */
.Picture{
    background-image: url("../img/Layer 145.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 762px;
    
    margin-top:-48px;
}
.Picture_text{
    padding-top: 120px;
    padding-left: 103px;
    display: inline-block;
    text-align: center;
}



.Pic_paragraph{
    font-size: 30px;
    color:#d91d90;
    font-weight: bold;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}

.Picture_right_left{
    padding-left: 30px;
    padding-right: 30px;
}

.Picture_img_2{
    float: right;
    
}

/* Another Picture */
.Another_picture{
    background-image: url("../img/Gon Song.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 820px;
    margin-top: -245px;
}

.Welcome{
    padding-top: 84px;
    padding-bottom: 86px;
}

.Another_picture_logo{
    text-align: center;
    padding-top: 46px;
}
.Anothor_logos{
    
}
.Another_text{
    text-align: center;
    padding-top: 15px;
    
}
.Another_title{
    font-size:34px;
    color: #fff;
    font-weight: bold;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}
.Another_description{
    text-align: center;
    margin-left: 224px;
    margin-right: 224px;
    padding-top: 23px;
}
.Another_para{
    font-size: 18px;
    padding-bottom: 70px;
    color: #fff;
}

.Another_option{
    text-align: center;
}

.Another_item{
    position: relative;
    display: inline-block;
    padding-left: 27px;
}

.Presidion_logo{
    
    
}

.Presidion_img_1{
    position: absolute;
    left: 143px;
    top: -55px;
    width: 120px;
}

.Presidion_img_2{
    position: absolute;
    top: -28px;
    left: 176px;
    width: 60px;
}

.Presidion_img_3{
    width: 340px;
    
}

.Presidion_detail{
    position: absolute;
    bottom: 12px;
}
.Presidion_title{
    font-size:28px;
}

.Presidion_title:hover{
    color: #ff92d5;
    cursor: pointer;
}
.Presidion_para{
    font-size:18px;
    padding-left: 28px;
    padding-right: 40px;
    margin-top: 4px;
}
.More{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.More_link{
    font-size: 18px;
    text-decoration: none;
    color: #fea633;
}
.More_icon{
    color: #fea633;
}

.blue{
    color: #25b0ff;
}

.green{
    color: #95cc47;
}

/* Khong gian choi va hoc */
.Place_to_play_and_study{
    background-image: url("../img/Layer 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1124px;
    margin-top: -70px;
    position: relative;
}

.Place_bg{
    background-image: url("../img/bg study and play.png");
    background-repeat: no-repeat;
    background-position: 0 178px;
}

.Rainbow {
    right: -150px;
    position: absolute;
    top: 640px;
}

.Fly_img{
    width: 412px;
    top: -120px;
    position: absolute;
    left: -280px;
}

.Place_to_play_and_study_content{
    padding-top: 90px;
}
.Place_to_play_and_study_title{
    display: flex;
    justify-content: center;
    column-gap: 26px;
    align-items: center;
}
.Place_photo_1{

}
.Place_img_1{

}
.Place_para{
    color: #d91d90;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}
.Place_para:hover{
    color:#ff92d5;
    cursor: pointer;
}

.Place_photo_2{

}
.Place_img_2{

}

.Place_img_3{
    
    padding-bottom: 13px;
}

.Place_to_play_and_study_para{
    margin-right: 89px;
    margin-left: 83px;
    font-size: 18px;
    text-align: center;
    
}

.Place_rows{
    margin-top: 35px;
    display:flex;
    column-gap:13px;
}

.Place_col_2,
.Place_col_4{
    margin-top: 25px;
}

/* Tin tức mới */
.Breaking_news{
    margin-top: 95px;
    
}
.Breaking_news_content{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap:25px;
}
.Breaking_news_photo_1{

}
.News_img_1{

}
.Breaking_news_title{
    color: #d91d90;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}
.Breaking_news_title:hover{
    color: #ff92d5;
    cursor: pointer;
}
.Breaking_news_photo_2{

}
.News_imgs_2{

}

.Breaking_news_para{
    font-size:18px;
    margin-left: 208px;
    margin-right: 203px;
    margin-top: 15px;
    text-align: center;
}

.Breakings_news_option{
    margin-top: 150px;
}
.News_rows{
    display: flex;
    justify-content:center;
}
.News_rows_left{
    width: 71px;
    height: 72px;
} 
.News_col{
    display: inline-block;
}
.News_option_1{
    position: relative;
}
.Background_img{
    
}
.News_picture_1{
    position: absolute;
    left: 17px;
    top: -124px;
}
.Circle_picture{
    position: absolute;
    left: 45px;
    top: 83px;
}
.Around_picture{
    position: absolute;
    left: 49px;
    top: 86px;
}
.Date{
    display: inline-block;
    position: absolute;
    left: 65px;
    top: 94px;
}

.Date_text{
    color: #fff;
    font-size: 15px;
}

.Option_content{
    position: absolute;
    bottom: 40px;
    text-align: center;
}

.Option_title{
    font-size:24px;
}

.Option_title:hover{
    color: #d91d90;
    cursor: pointer;
}

.Option_para{
    font-size:18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
}


/* Footer */
.Footers{
    position: relative;
}
.Footer{
    background-image: url("../img/BG-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 150px;
    position: relative;
}

.Doll_img_1{
    position: absolute;
    top: 288px;
    left: 2px;
    display: none;
}

.Doll_img_2{
    position: absolute;
    top: 280px;
    right: 90px;
    display: none;
}

.Footer_enter{
    padding-top: 152px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Address_add{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
    font-size: 18px;
    padding-top: 17px;
}

.Address_title{
    font-size:24px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}

.Google_map{
    position: relative;
    padding-top: 12px;
    display: inline-block;
}

.GG_map_img{
    position: absolute;
    top: 6px;
}

.Google_text{
    position: absolute;
    top: 15px;
    right: 28px;
    color: #fff;
}

.About_us{
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 23px;
}

.Contact_title{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}

.Contact_aboutUs{
    display: flex;
    align-items: center;
    column-gap:6px;
    font-size: 18px;
    color: #fff;
}


.Contact_fb,
.Contact_yt,
.Contact_instargram,
.Contact_tw{
    position: relative;
    display: inline-block;
}

.Face_icon
{
    position: absolute;
    top: 6px;
    left: 13px;
    color: #fff;
}

.YT_icon
{
    position: absolute;
    top: 6px;
    left: 8px;
    color: #fff;
}

.IG_icon{
    position: absolute;
    top: 6px;
    left: 10px;
    color: #fff;
}

.TW_icon{
    position: absolute;
    top: 6px;
    left: 10px;
    color: #fff;
}

.padding{
    padding-bottom: 16px;
}

.Footer_input{
    position: relative;
    display: inline-block;
}

.Sign_up{
    position: absolute;
    top: 36px;
    left: 60px;
}

.Sign_up_title{
    padding-left: 50px;
    font-size: 24px;
    color: #d91d90;
    text-transform: uppercase;
    font-family: 'iCiel Pony';
    font-weight: normal;
    font-style: normal;
}

.Name,
.Phone{
    padding-bottom: 10px;
    width: 290px;
}

.Name{
    padding-top: 15px;
}

.Name_input,
.Phone_input{
    width: 100%;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 5px;
}

.submit_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:6px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 30px;
    border: none;
    background-color: #d91d90;
}

.submit_icon{
    color: #fff;
}

.Submit_link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
}

.Address_and_contact{
    display: flex;
    column-gap: 101px;
    align-items: center;
}

.Footer_text{
    margin-top: 115px;
    padding-left: 155px;
    font-size:18px;
    color: #fff;
}

.Footer_img_1 {
    position: absolute;
    top: 14px;
    left: 187px;
}
.Footer_img_2 {
    position: absolute;
    top: -16px;
    left: 587px;
}
.Footer_img_3 {
    position: absolute;
    top: 30px;
    right: 160px;
}
.Footer_img_4 {
    position: absolute;
    top: 15px;
    right: 111px;
}
.Footer_img_5{
    display: none;
}

.Place_img_3{
    transition: all 1s;
}

.Place_container_1:hover .Place_img_3{
    -webkit-transform: scale(1.2);
    transform : scale(1.2);
}

.Place_container_2:hover .Place_img_3{
    -webkit-transform: scale(1.2);
    transform : scale(1.2);
}


